div(class="Card")
    h2(class="Card-name") Wolverine
    img(class="Card-image", src="./public/images/wolverine.jpg", alt="Wolverine")
    div(class="Card-description") Wolverine Es Muy Poderoso
    div(class="Card-attack") 500 puntos de ataque
