
@import "./back/styles.styl"
@import "./battle/styles.styl"
@import "./card/styles.styl"
@import "./chat/styles.styl"
@import "./layout/styles.styl"
@import "./phases/styles.styl"
@import "./status/styles.styl"
@import "./*/styles.styl"
@import "nib"


test(color)
  border 1px solid color
  box-sizing border-box
body
  font-family Arial
  font-size 16px
  margin 0
