.Signin-container
  label ingresa tu nombre
  input.Signin-name-input(type="text" id="firstName", name="firstName", tabindex="1", placeholder="juan, julio, gabriel")
  button.Signin-button(tabindex="2") Ingresar
